# NWB exploration

In [1]:
from pynwb import NWBHDF5IO
import numpy as np

In [8]:
#change pathway as needed
io = NWBHDF5IO('/Users/vanessagutierrez/Desktop/NWB_Test/RVG21/RVG21_B02.nwb', 'r')
nwb = io.read()

In [9]:
nwb

root pynwb.file.NWBFile at 0x140628934884416
Fields:
  acquisition: {
    ECoG <class 'pynwb.ecephys.ElectricalSeries'>
  }
  devices: {
    ECoG <class 'pynwb.device.Device'>
  }
  electrode_groups: {
    ECoG <class 'pynwb.ecephys.ElectrodeGroup'>
  }
  electrodes: electrodes <class 'hdmf.common.table.DynamicTable'>
  experiment_description: This is an acute rat experiment. Auditory stimuli are played to an anesthsized rat and electrophysiological measurements are made auditory cortex
  experimenter: ['Vanessa Gutierrez']
  file_create_date: [datetime.datetime(2021, 9, 7, 14, 35, 56, 402889, tzinfo=tzoffset(None, -25200))]
  identifier: 95c18458-1023-11ec-b0f0-aa665a133c20
  institution: Lawrence Berkeley National Lab
  intervals: {
    trials <class 'pynwb.epoch.TimeIntervals'>
  }
  lab: Bouchard Lab
  notes: All channels responsed! couple of bad channels, lots of 60Hz due to PZ5 being on, injected ketamine 13 mins before
  pharmacology: Anesthesized with Ketamine (90 mg/kg induction and 55 mg/kg maintence) and Xyzaline (10 mg/kg induction and 5 mg/kg maintence)
  scratch: {
    ecog_lat_loc <class 'pynwb.core.ScratchData'>,
    ecog_placement <class 'pynwb.core.ScratchData'>,
    ecog_post_loc <class 'pynwb.core.ScratchData'>,
    has_ecog <class 'pynwb.core.ScratchData'>,
    has_poly <class 'pynwb.core.ScratchData'>,
    is_clean_block <class 'pynwb.core.ScratchData'>,
    stim_response <class 'pynwb.core.ScratchData'>
  }
  session_description: Tone diagnostic
  session_id: RVG21_B02
  session_start_time: 2021-06-30 12:39:52.999999-07:00
  source_script: Created by nsds-lab-to-nwb 0.0.1.dev0 (https://github.com/BouchardLab/nsds_lab_to_nwb) (git@f6ab42b)
  source_script_file_name: nsds-lab-to-nwb
  stimulus: {
    stim_onset_marks <class 'pynwb.base.TimeSeries'>,
    stim_waveform <class 'pynwb.base.TimeSeries'>
  }
  subject: subject pynwb.file.Subject at 0x140628935868080
Fields:
  description: Charles River
  genotype: Wild type
  sex: M
  species: Sprague Dawley
  subject_id: RVG21
  weight: 216g

  surgery: Right temporal lobe craniotomy w/ durotomy
Surgery date: 2021-06-30
Surgery time: 08:30:00 (US/Pacific)
Surgery notes: Clean window. No damage during durotomy although while placing the grid, it damaged center of window. Animal needs a lot of ketamine
Surgery outcome: Good
  timestamps_reference_time: 2021-06-30 12:39:52.999999-07:00
  trials: trials <class 'pynwb.epoch.TimeIntervals'>

In [139]:
nwb_signal_data = nwb.acquisition['ECoG'].data[:]

In [137]:
nwb.acquisition['ECoG'].data[:].T[0]

array([ 1731.07346602,  1404.92890931,  1515.16066544, ...,
       -4128.9488449 , -4073.24806302, -4088.56527452])

In [64]:
trials_df = nwb.trials[:]

In [65]:
trials_df

     start_time   stop_time sb    frq  amp
id
0      0.000000    7.930483  b  500.0  6.0
1      7.980483    8.030483  s    500    6
2      8.080483    8.160483  b    500    6
3      8.280515    8.330515  s   3175    6
4      8.380515    8.460515  b   3175    6
..          ...         ... ..    ...  ...
597   97.380925   97.430925  s  20159    4
598   97.480925   97.560925  b  20159    4
599   97.680916   97.730916  s   2000    6
600   97.780916   97.860916  b   2000    6
601   97.860916  101.669929  b   2000    6

[602 rows x 5 columns]

In [66]:
trials_df[['start_time', 'sb']].loc[trials_df['sb'].str.contains('s')]['start_time'][:]

id
1       7.980483
3       8.280515
5       8.580506
7       8.880497
9       9.180488
         ...
591    96.480911
593    96.780902
595    97.080934
597    97.380925
599    97.680916
Name: start_time, Length: 300, dtype: float64

In [42]:
nwb.intervals['trials']['start_time'][:]

array([ 0.        ,  7.98048256,  8.08048256,  8.28051456,  8.38051456,
        8.5805056 ,  8.6805056 ,  8.88049664,  8.98049664,  9.18048768,
        9.28048768,  9.48051968,  9.58051968,  9.78051072,  9.88051072,
       10.08050176, 10.18050176, 10.3804928 , 10.4804928 , 10.6805248 ,
       10.7805248 , 10.98051584, 11.08051584, 11.28050688, 11.38050688,
       11.58049792, 11.68049792, 11.88052992, 11.98052992, 12.18052096,
       12.28052096, 12.480512  , 12.580512  , 12.78050304, 12.88050304,
       13.08053504, 13.18053504, 13.38052608, 13.48052608, 13.68051712,
       13.78051712, 13.98050816, 14.08050816, 14.28054016, 14.38054016,
       14.5805312 , 14.6805312 , 14.88052224, 14.98052224, 15.18051328,
       15.28051328, 15.48054528, 15.58054528, 15.78053632, 15.88053632,
       16.08052736, 16.18052736, 16.3805184 , 16.4805184 , 16.6805504 ,
       16.7805504 , 16.98054144, 17.08054144, 17.28053248, 17.38053248,
       17.58052352, 17.68052352, 17.88055552, 17.98055552, 18.18054656,
       18.28054656, 18.4805376 , 18.5805376 , 18.78052864, 18.88052864,
       19.08056064, 19.18056064, 19.38055168, 19.48055168, 19.68054272,
       19.78054272, 19.98053376, 20.08053376, 20.28056576, 20.38056576,
       20.5805568 , 20.6805568 , 20.88054784, 20.98054784, 21.18053888,
       21.28053888, 21.48057088, 21.58057088, 21.78056192, 21.88056192,
       22.08055296, 22.18055296, 22.380544  , 22.480544  , 22.680576  ,
       22.780576  , 22.98056704, 23.08056704, 23.28055808, 23.38055808,
       23.58054912, 23.68054912, 23.88058112, 23.98058112, 24.18057216,
       24.28057216, 24.4805632 , 24.5805632 , 24.78055424, 24.88055424,
       25.08058624, 25.18058624, 25.38057728, 25.48057728, 25.68056832,
       25.78056832, 25.98055936, 26.08055936, 26.28059136, 26.38059136,
       26.5805824 , 26.6805824 , 26.88057344, 26.98057344, 27.18056448,
       27.28056448, 27.48059648, 27.58059648, 27.78058752, 27.88058752,
       28.08057856, 28.18057856, 28.3805696 , 28.4805696 , 28.6806016 ,
       28.7806016 , 28.98059264, 29.08059264, 29.28058368, 29.38058368,
       29.58057472, 29.68057472, 29.88060672, 29.98060672, 30.18059776,
       30.28059776, 30.4805888 , 30.5805888 , 30.78057984, 30.88057984,
       31.08061184, 31.18061184, 31.38060288, 31.48060288, 31.68059392,
       31.78059392, 31.98058496, 32.08058496, 32.28061696, 32.38061696,
       32.580608  , 32.680608  , 32.88059904, 32.98059904, 33.18063104,
       33.28063104, 33.48062208, 33.58062208, 33.78061312, 33.88061312,
       34.08060416, 34.18060416, 34.38063616, 34.48063616, 34.6806272 ,
       34.7806272 , 34.98061824, 35.08061824, 35.28060928, 35.38060928,
       35.58064128, 35.68064128, 35.88063232, 35.98063232, 36.18062336,
       36.28062336, 36.4806144 , 36.5806144 , 36.7806464 , 36.8806464 ,
       37.08063744, 37.18063744, 37.38062848, 37.48062848, 37.68061952,
       37.78061952, 37.98065152, 38.08065152, 38.28064256, 38.38064256,
       38.5806336 , 38.6806336 , 38.88062464, 38.98062464, 39.18065664,
       39.28065664, 39.48064768, 39.58064768, 39.78063872, 39.88063872,
       40.08062976, 40.18062976, 40.38066176, 40.48066176, 40.6806528 ,
       40.7806528 , 40.98064384, 41.08064384, 41.28063488, 41.38063488,
       41.58066688, 41.68066688, 41.88065792, 41.98065792, 42.18064896,
       42.28064896, 42.48064   , 42.58064   , 42.780672  , 42.880672  ,
       43.08066304, 43.18066304, 43.38065408, 43.48065408, 43.68064512,
       43.78064512, 43.98067712, 44.08067712, 44.28066816, 44.38066816,
       44.5806592 , 44.6806592 , 44.88065024, 44.98065024, 45.18068224,
       45.28068224, 45.48067328, 45.58067328, 45.78066432, 45.88066432,
       46.08065536, 46.18065536, 46.38068736, 46.48068736, 46.6806784 ,
       46.7806784 , 46.98066944, 47.08066944, 47.28066048, 47.38066048,
       47.58069248, 47.68069248, 47.88068352, 47.98068352, 48.18067456,
       48.28067456, 48.4806656 , 48.5806656 , 48.7806976 , 48.8806976 ,
       49.08068864, 49.18068864, 49.38067968, 49.48067968, 49.68067072,
       49.78067072, 49.98070272, 50.08070272, 50.28069376, 50.38069376,
       50.5806848 , 50.6806848 , 50.88067584, 50.98067584, 51.18070784,
       51.28070784, 51.48069888, 51.58069888, 51.78068992, 51.88068992,
       52.08068096, 52.18068096, 52.38071296, 52.48071296, 52.680704  ,
       52.780704  , 52.98069504, 53.08069504, 53.28068608, 53.38068608,
       53.58071808, 53.68071808, 53.88070912, 53.98070912, 54.18070016,
       54.28070016, 54.4806912 , 54.5806912 , 54.7807232 , 54.8807232 ,
       55.08071424, 55.18071424, 55.38070528, 55.48070528, 55.68073728,
       55.78073728, 55.98072832, 56.08072832, 56.28071936, 56.38071936,
       56.5807104 , 56.6807104 , 56.8807424 , 56.9807424 , 57.18073344,
       57.28073344, 57.48072448, 57.58072448, 57.78071552, 57.88071552,
       58.08074752, 58.18074752, 58.38073856, 58.48073856, 58.6807296 ,
       58.7807296 , 58.98072064, 59.08072064, 59.28075264, 59.38075264,
       59.58074368, 59.68074368, 59.88073472, 59.98073472, 60.18072576,
       60.28072576, 60.48075776, 60.58075776, 60.7807488 , 60.8807488 ,
       61.08073984, 61.18073984, 61.38073088, 61.48073088, 61.68076288,
       61.78076288, 61.98075392, 62.08075392, 62.28074496, 62.38074496,
       62.580736  , 62.680736  , 62.880768  , 62.980768  , 63.18075904,
       63.28075904, 63.48075008, 63.58075008, 63.78074112, 63.88074112,
       64.08077312, 64.18077312, 64.38076416, 64.48076416, 64.6807552 ,
       64.7807552 , 64.98074624, 65.08074624, 65.28077824, 65.38077824,
       65.58076928, 65.68076928, 65.88076032, 65.98076032, 66.18075136,
       66.28075136, 66.48078336, 66.58078336, 66.7807744 , 66.8807744 ,
       67.08076544, 67.18076544, 67.38075648, 67.48075648, 67.68078848,
       67.78078848, 67.98077952, 68.08077952, 68.28077056, 68.38077056,
       68.5807616 , 68.6807616 , 68.8807936 , 68.9807936 , 69.18078464,
       69.28078464, 69.48077568, 69.58077568, 69.78076672, 69.88076672,
       70.08079872, 70.18079872, 70.38078976, 70.48078976, 70.6807808 ,
       70.7807808 , 70.98077184, 71.08077184, 71.28080384, 71.38080384,
       71.58079488, 71.68079488, 71.88078592, 71.98078592, 72.18077696,
       72.28077696, 72.48080896, 72.58080896, 72.7808    , 72.8808    ,
       73.08079104, 73.18079104, 73.38078208, 73.48078208, 73.68081408,
       73.78081408, 73.98080512, 74.08080512, 74.28079616, 74.38079616,
       74.5807872 , 74.6807872 , 74.8808192 , 74.9808192 , 75.18081024,
       75.28081024, 75.48080128, 75.58080128, 75.78079232, 75.88079232,
       76.08082432, 76.18082432, 76.38081536, 76.48081536, 76.6808064 ,
       76.7808064 , 76.9808384 , 77.0808384 , 77.28082944, 77.38082944,
       77.58082048, 77.68082048, 77.88081152, 77.98081152, 78.18084352,
       78.28084352, 78.48083456, 78.58083456, 78.7808256 , 78.8808256 ,
       79.08081664, 79.18081664, 79.38084864, 79.48084864, 79.68083968,
       79.78083968, 79.98083072, 80.08083072, 80.28082176, 80.38082176,
       80.58085376, 80.68085376, 80.8808448 , 80.9808448 , 81.18083584,
       81.28083584, 81.48082688, 81.58082688, 81.78085888, 81.88085888,
       82.08084992, 82.18084992, 82.38084096, 82.48084096, 82.680832  ,
       82.780832  , 82.980864  , 83.080864  , 83.28085504, 83.38085504,
       83.58084608, 83.68084608, 83.88083712, 83.98083712, 84.18086912,
       84.28086912, 84.48086016, 84.58086016, 84.7808512 , 84.8808512 ,
       85.08084224, 85.18084224, 85.38087424, 85.48087424, 85.68086528,
       85.78086528, 85.98085632, 86.08085632, 86.28084736, 86.38084736,
       86.58087936, 86.68087936, 86.8808704 , 86.9808704 , 87.18086144,
       87.28086144, 87.48085248, 87.58085248, 87.78088448, 87.88088448,
       88.08087552, 88.18087552, 88.38086656, 88.48086656, 88.6808576 ,
       88.7808576 , 88.9808896 , 89.0808896 , 89.28088064, 89.38088064,
       89.58087168, 89.68087168, 89.88086272, 89.98086272, 90.18089472,
       90.28089472, 90.48088576, 90.58088576, 90.7808768 , 90.8808768 ,
       91.08086784, 91.18086784, 91.38089984, 91.48089984, 91.68089088,
       91.78089088, 91.98088192, 92.08088192, 92.28087296, 92.38087296,
       92.58090496, 92.68090496, 92.880896  , 92.980896  , 93.18088704,
       93.28088704, 93.48087808, 93.58087808, 93.78091008, 93.88091008,
       94.08090112, 94.18090112, 94.38089216, 94.48089216, 94.6808832 ,
       94.7808832 , 94.9809152 , 95.0809152 , 95.28090624, 95.38090624,
       95.58089728, 95.68089728, 95.88092928, 95.98092928, 96.18092032,
       96.28092032, 96.48091136, 96.58091136, 96.7809024 , 96.8809024 ,
       97.0809344 , 97.1809344 , 97.38092544, 97.48092544, 97.68091648,
       97.78091648, 97.86091648])

In [35]:
nwbfile_in.acquisition['ECoG'].data[:].shape

(1239166, 128)

In [36]:
nwbfile_in.stimulus

{'stim_onset_marks': stim_onset_marks pynwb.base.TimeSeries at 0x140628039993712
 Fields:
   comments: no comments
   conversion: 1.0
   data: <HDF5 dataset "data": shape (1261568,), type "<f4">
   description: Recorded mark that tracks stimulus onsets.
   rate: 12207.03125
   resolution: -1.0
   starting_time: 0.0
   starting_time_unit: seconds
   unit: Volts,
 'stim_waveform': stim_waveform pynwb.base.TimeSeries at 0x140628039993184
 Fields:
   comments: no comments
   conversion: 1.0
   data: <HDF5 dataset "data": shape (4800248,), type "<i2">
   description: Auditory stimulus waveform, aligned to neural recording.
   rate: 48000.0
   resolution: -1.0
   starting_time: 2.74766592
   starting_time_unit: seconds
   unit: Volts}

In [37]:
nwbfile_in.stimulus['stim_onset_marks']

stim_onset_marks pynwb.base.TimeSeries at 0x140628039993712
Fields:
  comments: no comments
  conversion: 1.0
  data: <HDF5 dataset "data": shape (1261568,), type "<f4">
  description: Recorded mark that tracks stimulus onsets.
  rate: 12207.03125
  resolution: -1.0
  starting_time: 0.0
  starting_time_unit: seconds
  unit: Volts

In [38]:
nwbfile_in.stimulus['stim_waveform']

stim_waveform pynwb.base.TimeSeries at 0x140628039993184
Fields:
  comments: no comments
  conversion: 1.0
  data: <HDF5 dataset "data": shape (4800248,), type "<i2">
  description: Auditory stimulus waveform, aligned to neural recording.
  rate: 48000.0
  resolution: -1.0
  starting_time: 2.74766592
  starting_time_unit: seconds
  unit: Volts

In [39]:
device = 'Poly'

In [40]:
nwbfile_in.electrodes['group_name'].data[:]

array(['ECoG', 'ECoG', 'ECoG', 'ECoG', 'ECoG', 'ECoG', 'ECoG', 'ECoG',
       'ECoG', 'ECoG', 'ECoG', 'ECoG', 'ECoG', 'ECoG', 'ECoG', 'ECoG',
       'ECoG', 'ECoG', 'ECoG', 'ECoG', 'ECoG', 'ECoG', 'ECoG', 'ECoG',
       'ECoG', 'ECoG', 'ECoG', 'ECoG', 'ECoG', 'ECoG', 'ECoG', 'ECoG',
       'ECoG', 'ECoG', 'ECoG', 'ECoG', 'ECoG', 'ECoG', 'ECoG', 'ECoG',
       'ECoG', 'ECoG', 'ECoG', 'ECoG', 'ECoG', 'ECoG', 'ECoG', 'ECoG',
       'ECoG', 'ECoG', 'ECoG', 'ECoG', 'ECoG', 'ECoG', 'ECoG', 'ECoG',
       'ECoG', 'ECoG', 'ECoG', 'ECoG', 'ECoG', 'ECoG', 'ECoG', 'ECoG',
       'ECoG', 'ECoG', 'ECoG', 'ECoG', 'ECoG', 'ECoG', 'ECoG', 'ECoG',
       'ECoG', 'ECoG', 'ECoG', 'ECoG', 'ECoG', 'ECoG', 'ECoG', 'ECoG',
       'ECoG', 'ECoG', 'ECoG', 'ECoG', 'ECoG', 'ECoG', 'ECoG', 'ECoG',
       'ECoG', 'ECoG', 'ECoG', 'ECoG', 'ECoG', 'ECoG', 'ECoG', 'ECoG',
       'ECoG', 'ECoG', 'ECoG', 'ECoG', 'ECoG', 'ECoG', 'ECoG', 'ECoG',
       'ECoG', 'ECoG', 'ECoG', 'ECoG', 'ECoG', 'ECoG', 'ECoG', 'ECoG',
       'ECoG', 'ECoG', 'ECoG', 'ECoG', 'ECoG', 'ECoG', 'ECoG', 'ECoG',
       'ECoG', 'ECoG', 'ECoG', 'ECoG', 'ECoG', 'ECoG', 'ECoG', 'ECoG',
       'Poly', 'Poly', 'Poly', 'Poly', 'Poly', 'Poly', 'Poly', 'Poly',
       'Poly', 'Poly', 'Poly', 'Poly', 'Poly', 'Poly', 'Poly', 'Poly',
       'Poly', 'Poly', 'Poly', 'Poly', 'Poly', 'Poly', 'Poly', 'Poly',
       'Poly', 'Poly', 'Poly', 'Poly', 'Poly', 'Poly', 'Poly', 'Poly',
       'Poly', 'Poly', 'Poly', 'Poly', 'Poly', 'Poly', 'Poly', 'Poly',
       'Poly', 'Poly', 'Poly', 'Poly', 'Poly', 'Poly', 'Poly', 'Poly',
       'Poly', 'Poly', 'Poly', 'Poly', 'Poly', 'Poly', 'Poly', 'Poly',
       'Poly', 'Poly', 'Poly', 'Poly', 'Poly', 'Poly', 'Poly', 'Poly'],
      dtype=object)

In [41]:
device_idx = nwbfile_in.electrodes.group_name.data[:] == device

In [42]:
device_idx

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True])

In [47]:
nwbfile_in.electrodes['location'].data[device_idx]

array(['AUD', 'AUD', 'AUD', 'AUD', 'AUD', 'AUD', 'AUD', 'AUD', 'AUD',
       'AUD', 'AUD', 'AUD', 'AUD', 'AUD', 'AUD', 'AUD', 'AUD', 'AUD',
       'AUD', 'AUD', 'AUD', 'AUD', 'AUD', 'AUD', 'AUD', 'AUD', 'AUD',
       'AUD', 'AUD', 'AUD', 'AUD', 'AUD', 'AUD', 'AUD', 'AUD', 'AUD',
       'AUD', 'AUD', 'AUD', 'AUD', 'AUD', 'AUD', 'AUD', 'AUD', 'AUD',
       'AUD', 'AUD', 'AUD', 'AUD', 'AUD', 'AUD', 'AUD', 'AUD', 'AUD',
       'AUD', 'AUD', 'AUD', 'AUD', 'AUD', 'AUD', 'AUD', 'AUD', 'AUD',
       'AUD'], dtype=object)

In [46]:
ch_ids = np.array([int(ch) for ch in nwbfile_in.electrodes['location'].data[device_idx]])

ValueError: invalid literal for int() with base 10: 'AUD'

In [5]:
nwbfile_in.electrodes.to_dataframe()

,x,y,z,imp,location,filtering,group,group_name,rel_x,rel_y,rel_z
id,,,,,,,,,,,
0,NaN,NaN,NaN,NaN,AUD,The signal is low pass filtered at 45 percent ...,ECoG pynwb.ecephys.ElectrodeGroup at 0x1406289...,ECoG,3000.0,800.0,0.0
1,NaN,NaN,NaN,NaN,AUD,The signal is low pass filtered at 45 percent ...,ECoG pynwb.ecephys.ElectrodeGroup at 0x1406289...,ECoG,2600.0,800.0,0.0
2,NaN,NaN,NaN,NaN,AUD,The signal is low pass filtered at 45 percent ...,ECoG pynwb.ecephys.ElectrodeGroup at 0x1406289...,ECoG,3000.0,1000.0,0.0
3,NaN,NaN,NaN,NaN,AUD,The signal is low pass filtered at 45 percent ...,ECoG pynwb.ecephys.ElectrodeGroup at 0x1406289...,ECoG,2600.0,1000.0,0.0
4,NaN,NaN,NaN,NaN,AUD,The signal is low pass filtered at 45 percent ...,ECoG pynwb.ecephys.ElectrodeGroup at 0x1406289...,ECoG,3000.0,1200.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
123,NaN,NaN,NaN,NaN,AUD,The signal is low pass filtered at 45 percent ...,ECoG pynwb.ecephys.ElectrodeGroup at 0x1406289...,ECoG,2600.0,200.0,0.0
124,NaN,NaN,NaN,NaN,AUD,The signal is low pass filtered at 45 percent ...,ECoG pynwb.ecephys.ElectrodeGroup at 0x1406289...,ECoG,3000.0,400.0,0.0
125,NaN,NaN,NaN,NaN,AUD,The signal is low pass filtered at 45 percent ...,ECoG pynwb.ecephys.ElectrodeGroup at 0x1406289...,ECoG,2600.0,400.0,0.0
126,NaN,NaN,NaN,NaN,AUD,The signal is low pass filtered at 45 percent ...,ECoG pynwb.ecephys.ElectrodeGroup at 0x1406289...,ECoG,3000.0,600.0,0.0
127,NaN,NaN,NaN,NaN,AUD,The signal is low pass filtered at 45 percent ...,ECoG pynwb.ecephys.ElectrodeGroup at 0x1406289...,ECoG,2600.0,600.0,0.0

In [20]:
ch_ids = np.array([int(ch) for ch in nwbfile_in.electrodes.location.data[device_idx]])

ValueError: invalid literal for int() with base 10: ''

In [22]:
nwbfile_in.electrodes.location.data[:]

array(['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '',
       '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '',
       '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '',
       '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '',
       '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '',
       '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '',
       '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '',
       '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '',
       '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '',
       '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '',
       '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '',
       '', '', '', '', ''], dtype=object)

# TRIAL STIM_START

In [83]:
nwb.trials

trials pynwb.epoch.TimeIntervals at 0x140628935949136
Fields:
  colnames: ['start_time' 'stop_time' 'sb' 'frq' 'amp']
  columns: (
    start_time <class 'hdmf.common.table.VectorData'>,
    stop_time <class 'hdmf.common.table.VectorData'>,
    sb <class 'hdmf.common.table.VectorData'>,
    frq <class 'hdmf.common.table.VectorData'>,
    amp <class 'hdmf.common.table.VectorData'>
  )
  description: experimental trials
  id: id <class 'hdmf.common.table.ElementIdentifiers'>

In [84]:
df = nwb.trials.to_dataframe()
# df = df[df["sb"] == "s"]
df_s = df[df["sb"] == "s"]
df_s

     start_time  stop_time sb    frq amp
id
1      7.980483   8.030483  s    500   6
3      8.280515   8.330515  s   3175   6
5      8.580506   8.630506  s  12699   8
7      8.880497   8.930497  s    794   6
9      9.180488   9.230488  s  32000   4
..          ...        ... ..    ...  ..
591   96.480911  96.530911  s  12699   6
593   96.780902  96.830902  s   8000   6
595   97.080934  97.130934  s   1260   6
597   97.380925  97.430925  s  20159   4
599   97.680916  97.730916  s   2000   6

[300 rows x 5 columns]

In [118]:
onsets = df_s.iloc[:, [0,2]]
onsets

     start_time sb
id
1      7.980483  s
3      8.280515  s
5      8.580506  s
7      8.880497  s
9      9.180488  s
..          ... ..
591   96.480911  s
593   96.780902  s
595   97.080934  s
597   97.380925  s
599   97.680916  s

[300 rows x 2 columns]

In [96]:
stim_markers = onsets['start_time'].to_list()

In [97]:
fs = nwbfile_in.acquisition['ECoG'].rate

In [98]:
# fs_stim_delay = .25* fs

In [99]:
# marker_onsets = [int(x*fs+fs_stim_delay) for x in markers]

In [114]:
stim_onsets = [int(x*fs) for x in stim_markers]

In [120]:
stim_start = np.array(stim_onsets)
stim_start

array([  95765,   99366,  102966,  106565,  110165,  113766,  117366,
        120966,  124565,  128166,  131766,  135366,  138965,  142566,
        146166,  149766,  153366,  156966,  160566,  164166,  167766,
        171366,  174966,  178566,  182166,  185766,  189366,  192966,
        196566,  200166,  203766,  207366,  210966,  214566,  218166,
        221766,  225366,  228966,  232566,  236166,  239766,  243366,
        246966,  250566,  254166,  257766,  261366,  264966,  268566,
        272166,  275766,  279366,  282966,  286566,  290166,  293766,
        297366,  300967,  304566,  308166,  311766,  315367,  318966,
        322566,  326166,  329767,  333367,  336966,  340566,  344167,
        347767,  351367,  354966,  358567,  362167,  365767,  369366,
        372967,  376567,  380167,  383767,  387367,  390967,  394567,
        398167,  401767,  405367,  408967,  412567,  416167,  419767,
        423367,  426967,  430567,  434167,  437767,  441367,  444967,
        448567,  452167,  455767,  459367,  462967,  466567,  470167,
        473767,  477367,  480967,  484567,  488167,  491767,  495367,
        498968,  502567,  506167,  509767,  513368,  516967,  520567,
        524167,  527768,  531368,  534967,  538567,  542168,  545768,
        549367,  552967,  556568,  560168,  563768,  567367,  570968,
        574568,  578168,  581767,  585368,  588968,  592568,  596168,
        599768,  603368,  606968,  610568,  614168,  617768,  621368,
        624968,  628568,  632168,  635768,  639368,  642968,  646568,
        650168,  653768,  657368,  660968,  664568,  668168,  671768,
        675368,  678968,  682568,  686168,  689768,  693368,  696968,
        700568,  704168,  707768,  711369,  714968,  718568,  722168,
        725769,  729368,  732968,  736568,  740169,  743769,  747368,
        750968,  754569,  758169,  761769,  765368,  768969,  772569,
        776169,  779768,  783369,  786969,  790569,  794169,  797769,
        801369,  804969,  808569,  812169,  815769,  819369,  822969,
        826569,  830169,  833769,  837369,  840969,  844569,  848169,
        851769,  855369,  858969,  862569,  866169,  869769,  873369,
        876969,  880569,  884169,  887769,  891369,  894969,  898569,
        902169,  905769,  909369,  912969,  916569,  920169,  923770,
        927369,  930969,  934569,  938170,  941770,  945369,  948969,
        952570,  956170,  959769,  963369,  966970,  970570,  974170,
        977769,  981370,  984970,  988570,  992169,  995770,  999370,
       1002970, 1006570, 1010170, 1013770, 1017370, 1020970, 1024570,
       1028170, 1031770, 1035370, 1038970, 1042570, 1046170, 1049770,
       1053370, 1056970, 1060570, 1064170, 1067770, 1071370, 1074970,
       1078570, 1082170, 1085770, 1089370, 1092970, 1096570, 1100170,
       1103770, 1107370, 1110970, 1114570, 1118170, 1121770, 1125370,
       1128970, 1132570, 1136170, 1139770, 1143370, 1146970, 1150571,
       1154171, 1157770, 1161370, 1164971, 1168571, 1172170])

# TRIAL STIM_STOP

In [103]:
df = nwb.trials.to_dataframe()
# df = df[df["sb"] == "s"]
df_s = df[df["sb"] == "s"]
df_s

     start_time  stop_time sb    frq amp
id
1      7.980483   8.030483  s    500   6
3      8.280515   8.330515  s   3175   6
5      8.580506   8.630506  s  12699   8
7      8.880497   8.930497  s    794   6
9      9.180488   9.230488  s  32000   4
..          ...        ... ..    ...  ..
591   96.480911  96.530911  s  12699   6
593   96.780902  96.830902  s   8000   6
595   97.080934  97.130934  s   1260   6
597   97.380925  97.430925  s  20159   4
599   97.680916  97.730916  s   2000   6

[300 rows x 5 columns]

In [117]:
offsets = df_s.iloc[:, [1,2]]
offsets

     stop_time sb
id
1     8.030483  s
3     8.330515  s
5     8.630506  s
7     8.930497  s
9     9.230488  s
..         ... ..
591  96.530911  s
593  96.830902  s
595  97.130934  s
597  97.430925  s
599  97.730916  s

[300 rows x 2 columns]

In [112]:
stim_mrks = offsets['stop_time'].to_list()

In [113]:
stim_offsets = [int(x*fs) for x in stim_mrks]

In [119]:
stim_stop = np.array(stim_offsets)
stim_stop

array([  96365,   99966,  103566,  107165,  110765,  114366,  117966,
        121566,  125165,  128766,  132366,  135966,  139565,  143166,
        146766,  150366,  153966,  157566,  161166,  164766,  168366,
        171966,  175566,  179166,  182766,  186366,  189966,  193566,
        197166,  200766,  204366,  207966,  211566,  215166,  218766,
        222366,  225966,  229566,  233166,  236766,  240366,  243966,
        247566,  251166,  254766,  258366,  261966,  265566,  269166,
        272766,  276366,  279966,  283566,  287166,  290766,  294366,
        297966,  301567,  305166,  308766,  312366,  315967,  319566,
        323166,  326766,  330367,  333967,  337566,  341166,  344767,
        348367,  351967,  355566,  359167,  362767,  366367,  369966,
        373567,  377167,  380767,  384367,  387967,  391567,  395167,
        398767,  402367,  405967,  409567,  413167,  416767,  420367,
        423967,  427567,  431167,  434767,  438367,  441967,  445567,
        449167,  452767,  456367,  459967,  463567,  467167,  470767,
        474367,  477967,  481567,  485167,  488767,  492367,  495967,
        499568,  503167,  506767,  510367,  513968,  517567,  521167,
        524767,  528368,  531968,  535567,  539167,  542768,  546368,
        549967,  553567,  557168,  560768,  564368,  567967,  571568,
        575168,  578768,  582367,  585968,  589568,  593168,  596768,
        600368,  603968,  607568,  611168,  614768,  618368,  621968,
        625568,  629168,  632768,  636368,  639968,  643568,  647168,
        650768,  654368,  657968,  661568,  665168,  668768,  672368,
        675968,  679568,  683168,  686768,  690368,  693968,  697568,
        701168,  704768,  708368,  711969,  715568,  719168,  722768,
        726369,  729968,  733568,  737168,  740769,  744369,  747968,
        751568,  755169,  758769,  762369,  765968,  769569,  773169,
        776769,  780368,  783969,  787569,  791169,  794769,  798369,
        801969,  805569,  809169,  812769,  816369,  819969,  823569,
        827169,  830769,  834369,  837969,  841569,  845169,  848769,
        852369,  855969,  859569,  863169,  866769,  870369,  873969,
        877569,  881169,  884769,  888369,  891969,  895569,  899169,
        902769,  906369,  909969,  913569,  917169,  920769,  924370,
        927969,  931569,  935169,  938770,  942370,  945969,  949569,
        953170,  956770,  960369,  963969,  967570,  971170,  974770,
        978369,  981970,  985570,  989170,  992769,  996370,  999970,
       1003570, 1007170, 1010770, 1014370, 1017970, 1021570, 1025170,
       1028770, 1032370, 1035970, 1039570, 1043170, 1046770, 1050370,
       1053970, 1057570, 1061170, 1064770, 1068370, 1071970, 1075570,
       1079170, 1082770, 1086370, 1089970, 1093570, 1097170, 1100770,
       1104370, 1107970, 1111570, 1115170, 1118770, 1122370, 1125970,
       1129570, 1133170, 1136770, 1140370, 1143970, 1147570, 1151171,
       1154771, 1158370, 1161970, 1165571, 1169171, 1172770])

# BASELINE BASE_START

In [121]:
df = nwb.trials.to_dataframe()
# df = df[df["sb"] == "b"]
df_b = df[df["sb"] == "b"]
df_b

     start_time   stop_time sb    frq  amp
id
0      0.000000    7.930483  b  500.0  6.0
2      8.080483    8.160483  b    500    6
4      8.380515    8.460515  b   3175    6
6      8.680506    8.760506  b  12699    8
8      8.980497    9.060497  b    794    6
..          ...         ... ..    ...  ...
594   96.880902   96.960902  b   8000    6
596   97.180934   97.260934  b   1260    6
598   97.480925   97.560925  b  20159    4
600   97.780916   97.860916  b   2000    6
601   97.860916  101.669929  b   2000    6

[302 rows x 5 columns]

In [123]:
b_onsets = df_b.iloc[:, [0,2]]
b_onsets

     start_time sb
id
0      0.000000  b
2      8.080483  b
4      8.380515  b
6      8.680506  b
8      8.980497  b
..          ... ..
594   96.880902  b
596   97.180934  b
598   97.480925  b
600   97.780916  b
601   97.860916  b

[302 rows x 2 columns]

In [125]:
base_markers = b_onsets['start_time'].to_list()

In [126]:
base_onsets = [int(x*fs) for x in base_markers]

In [128]:
base_start = np.array(base_onsets)
base_start

array([      0,   96965,  100566,  104166,  107765,  111365,  114966,
        118566,  122166,  125765,  129366,  132966,  136566,  140165,
        143766,  147366,  150966,  154566,  158166,  161766,  165366,
        168966,  172566,  176166,  179766,  183366,  186966,  190566,
        194166,  197766,  201366,  204966,  208566,  212166,  215766,
        219366,  222966,  226566,  230166,  233766,  237366,  240966,
        244566,  248166,  251766,  255366,  258966,  262566,  266166,
        269766,  273366,  276966,  280566,  284166,  287766,  291366,
        294966,  298566,  302167,  305766,  309366,  312966,  316567,
        320166,  323766,  327366,  330967,  334567,  338166,  341766,
        345367,  348967,  352567,  356166,  359767,  363367,  366967,
        370566,  374167,  377767,  381367,  384967,  388567,  392167,
        395767,  399367,  402967,  406567,  410167,  413767,  417367,
        420967,  424567,  428167,  431767,  435367,  438967,  442567,
        446167,  449767,  453367,  456967,  460567,  464167,  467767,
        471367,  474967,  478567,  482167,  485767,  489367,  492967,
        496567,  500168,  503767,  507367,  510967,  514568,  518167,
        521767,  525367,  528968,  532568,  536167,  539767,  543368,
        546968,  550567,  554167,  557768,  561368,  564968,  568567,
        572168,  575768,  579368,  582967,  586568,  590168,  593768,
        597368,  600968,  604568,  608168,  611768,  615368,  618968,
        622568,  626168,  629768,  633368,  636968,  640568,  644168,
        647768,  651368,  654968,  658568,  662168,  665768,  669368,
        672968,  676568,  680168,  683768,  687368,  690968,  694568,
        698168,  701768,  705368,  708968,  712569,  716168,  719768,
        723368,  726969,  730568,  734168,  737768,  741369,  744969,
        748568,  752168,  755769,  759369,  762969,  766568,  770169,
        773769,  777369,  780968,  784569,  788169,  791769,  795369,
        798969,  802569,  806169,  809769,  813369,  816969,  820569,
        824169,  827769,  831369,  834969,  838569,  842169,  845769,
        849369,  852969,  856569,  860169,  863769,  867369,  870969,
        874569,  878169,  881769,  885369,  888969,  892569,  896169,
        899769,  903369,  906969,  910569,  914169,  917769,  921369,
        924970,  928569,  932169,  935769,  939370,  942970,  946569,
        950169,  953770,  957370,  960969,  964569,  968170,  971770,
        975370,  978969,  982570,  986170,  989770,  993369,  996970,
       1000570, 1004170, 1007770, 1011370, 1014970, 1018570, 1022170,
       1025770, 1029370, 1032970, 1036570, 1040170, 1043770, 1047370,
       1050970, 1054570, 1058170, 1061770, 1065370, 1068970, 1072570,
       1076170, 1079770, 1083370, 1086970, 1090570, 1094170, 1097770,
       1101370, 1104970, 1108570, 1112170, 1115770, 1119370, 1122970,
       1126570, 1130170, 1133770, 1137370, 1140970, 1144570, 1148170,
       1151771, 1155371, 1158970, 1162570, 1166171, 1169771, 1173370,
       1174330])

# BASELINE BASE_STOP

In [129]:
df = nwb.trials.to_dataframe()
# df = df[df["sb"] == "b"]
df_b = df[df["sb"] == "b"]
df_b

     start_time   stop_time sb    frq  amp
id
0      0.000000    7.930483  b  500.0  6.0
2      8.080483    8.160483  b    500    6
4      8.380515    8.460515  b   3175    6
6      8.680506    8.760506  b  12699    8
8      8.980497    9.060497  b    794    6
..          ...         ... ..    ...  ...
594   96.880902   96.960902  b   8000    6
596   97.180934   97.260934  b   1260    6
598   97.480925   97.560925  b  20159    4
600   97.780916   97.860916  b   2000    6
601   97.860916  101.669929  b   2000    6

[302 rows x 5 columns]

In [130]:
b_offsets = df_b.iloc[:, [1,2]]
b_offsets

      stop_time sb
id
0      7.930483  b
2      8.160483  b
4      8.460515  b
6      8.760506  b
8      9.060497  b
..          ... ..
594   96.960902  b
596   97.260934  b
598   97.560925  b
600   97.860916  b
601  101.669929  b

[302 rows x 2 columns]

In [131]:
base_mrks = b_offsets['stop_time'].to_list()

In [132]:
base_offsets = [int(x*fs) for x in base_mrks]

In [133]:
base_stop = np.array(base_offsets)
base_stop

array([  95165,   97925,  101526,  105126,  108725,  112325,  115926,
        119526,  123126,  126725,  130326,  133926,  137526,  141125,
        144726,  148326,  151926,  155526,  159126,  162726,  166326,
        169926,  173526,  177126,  180726,  184326,  187926,  191526,
        195126,  198726,  202326,  205926,  209526,  213126,  216726,
        220326,  223926,  227526,  231126,  234726,  238326,  241926,
        245526,  249126,  252726,  256326,  259926,  263526,  267126,
        270726,  274326,  277926,  281526,  285126,  288726,  292326,
        295926,  299526,  303127,  306726,  310326,  313926,  317527,
        321126,  324726,  328326,  331927,  335527,  339126,  342726,
        346327,  349927,  353527,  357126,  360727,  364327,  367927,
        371526,  375127,  378727,  382327,  385927,  389527,  393127,
        396727,  400327,  403927,  407527,  411127,  414727,  418327,
        421927,  425527,  429127,  432727,  436327,  439927,  443527,
        447127,  450727,  454327,  457927,  461527,  465127,  468727,
        472327,  475927,  479527,  483127,  486727,  490327,  493927,
        497527,  501128,  504727,  508327,  511927,  515528,  519127,
        522727,  526327,  529928,  533528,  537127,  540727,  544328,
        547928,  551527,  555127,  558728,  562328,  565928,  569527,
        573128,  576728,  580328,  583927,  587528,  591128,  594728,
        598328,  601928,  605528,  609128,  612728,  616328,  619928,
        623528,  627128,  630728,  634328,  637928,  641528,  645128,
        648728,  652328,  655928,  659528,  663128,  666728,  670328,
        673928,  677528,  681128,  684728,  688328,  691928,  695528,
        699128,  702728,  706328,  709928,  713529,  717128,  720728,
        724328,  727929,  731528,  735128,  738728,  742329,  745929,
        749528,  753128,  756729,  760329,  763929,  767528,  771129,
        774729,  778329,  781928,  785529,  789129,  792729,  796329,
        799929,  803529,  807129,  810729,  814329,  817929,  821529,
        825129,  828729,  832329,  835929,  839529,  843129,  846729,
        850329,  853929,  857529,  861129,  864729,  868329,  871929,
        875529,  879129,  882729,  886329,  889929,  893529,  897129,
        900729,  904329,  907929,  911529,  915129,  918729,  922329,
        925930,  929529,  933129,  936729,  940330,  943930,  947529,
        951129,  954730,  958330,  961929,  965529,  969130,  972730,
        976330,  979929,  983530,  987130,  990730,  994329,  997930,
       1001530, 1005130, 1008730, 1012330, 1015930, 1019530, 1023130,
       1026730, 1030330, 1033930, 1037530, 1041130, 1044730, 1048330,
       1051930, 1055530, 1059130, 1062730, 1066330, 1069930, 1073530,
       1077130, 1080730, 1084330, 1087930, 1091530, 1095130, 1098730,
       1102330, 1105930, 1109530, 1113130, 1116730, 1120330, 1123930,
       1127530, 1131130, 1134730, 1138330, 1141930, 1145530, 1149130,
       1152731, 1156331, 1159930, 1163530, 1167131, 1170731, 1174330,
       1220039])

In [11]:
data = nwbfile_in.acquisition['ECoG'].data

In [43]:
data.shape[0]

978944

In [7]:
mark_data = nwbfile_in.stimulus['recorded_mark'].data
len(mark_data)

KeyError: 'recorded_mark'

In [129]:
mark_fs = nwbfile_in.stimulus['recorded_mark'].rate
mark_fs

12207.03125

In [52]:
mark_offset = 0.25

In [53]:
stim_duration = 0.1

In [56]:
mark_fs

12207.03125

Vanessa Practice

In [44]:
end_time = data.shape[0] / fs

In [50]:
# np.arange(0.5, end_time, 1.0)

In [128]:
stim_dur_samp = stim_duration*mark_fs
stim_dur_samp

1220.703125

In [59]:
mark_threshold = 0.3

In [158]:
idk = mark_data[:] > mark_threshold
idk.shape

(980992,)

In [167]:
thresh_crossings = np.diff( (idk).astype('int'), axis=0 )

In [163]:
thresh_crossings.shape

(980991,)

In [134]:
new_thresh_crossings = np.r_[idk[0], thresh_crossings].cumsum()

In [221]:
stim_onsets = np.where(thresh_crossings > 0.5)[0] + 1
stim_onsets

array([212035, 224242, 236449, 248656, 260863, 273071, 285278, 297485,
       309692, 321899, 334106, 346313, 358520, 370727, 382934, 395141,
       407349, 419556, 431763, 443970, 456177, 468384, 480591, 492798,
       505005, 517212, 529420, 541627, 553834, 566041, 578248, 590455,
       602662, 614869, 627076, 639283, 651490, 663698, 675905, 688112,
       700319, 712526, 724733, 736940, 749147, 761354, 773561, 785769,
       797976, 810183, 822390, 834597, 846804, 859011, 871218, 883425,
       895632, 907839, 920047])

In [181]:
real_stim_onsets = [stim_onsets[0]]
real_stim_onsets

[212035]

In [192]:
for stim_onset in stim_onsets[1:]:
        # Check that each stim onset is more than 2x the stimulus duration since the previous
        if stim_onset > real_stim_onsets[-1] + 2*stim_dur_samp:
            real_stim_onsets.append(stim_onset)

In [193]:
if len(real_stim_onsets) != 60:
        print("WARNING")

WARNING

In [220]:
markers = (real_stim_onsets / mark_fs)
markers

array([17.3699072 , 18.36990464, 19.36990208, 20.36989952, 21.36989696,
       22.36997632, 23.36997376, 24.3699712 , 25.36996864, 26.36996608,
       27.36996352, 28.36996096, 29.3699584 , 30.36995584, 31.36995328,
       32.36995072, 33.37003008, 34.37002752, 35.37002496, 36.3700224 ,
       37.37001984, 38.37001728, 39.37001472, 40.37001216, 41.3700096 ,
       42.37000704, 43.3700864 , 44.37008384, 45.37008128, 46.37007872,
       47.37007616, 48.3700736 , 49.37007104, 50.37006848, 51.37006592,
       52.37006336, 53.3700608 , 54.37014016, 55.3701376 , 56.37013504,
       57.37013248, 58.37012992, 59.37012736, 60.3701248 , 61.37012224,
       62.37011968, 63.37011712, 64.37019648, 65.37019392, 66.37019136,
       67.3701888 , 68.37018624, 69.37018368, 70.37018112, 71.37017856,
       72.370176  , 73.37017344, 74.37017088, 75.37025024])

In [169]:
markers.shape

(59,)

In [176]:
a = np.array([2,3,4])

In [177]:
np.insert(a, 0, 1)

array([1, 2, 3, 4])

In [196]:
np.insert(markers, 0, 16.369907)

array([16.369907  , 17.3699072 , 18.36990464, 19.36990208, 20.36989952,
       21.36989696, 22.36997632, 23.36997376, 24.3699712 , 25.36996864,
       26.36996608, 27.36996352, 28.36996096, 29.3699584 , 30.36995584,
       31.36995328, 32.36995072, 33.37003008, 34.37002752, 35.37002496,
       36.3700224 , 37.37001984, 38.37001728, 39.37001472, 40.37001216,
       41.3700096 , 42.37000704, 43.3700864 , 44.37008384, 45.37008128,
       46.37007872, 47.37007616, 48.3700736 , 49.37007104, 50.37006848,
       51.37006592, 52.37006336, 53.3700608 , 54.37014016, 55.3701376 ,
       56.37013504, 57.37013248, 58.37012992, 59.37012736, 60.3701248 ,
       61.37012224, 62.37011968, 63.37011712, 64.37019648, 65.37019392,
       66.37019136, 67.3701888 , 68.37018624, 69.37018368, 70.37018112,
       71.37017856, 72.370176  , 73.37017344, 74.37017088, 75.37025024])

In [12]:
chs_ordered = [
       81, 83, 85, 87, 89, 91, 93, 95, 97, 105, 98, 106, 114, 122, 113, 121,
       82, 84, 86, 88, 90, 92, 94, 96, 99, 107, 100, 108, 116, 124, 115, 123,
       66, 68, 70, 72, 74, 76, 78, 80, 101, 109, 102, 110, 118, 126, 117, 125,
       65, 67, 69, 71, 73, 75, 77, 79, 103, 111, 104, 112, 120, 128, 119, 127,
       63, 61, 59, 57, 55, 53, 51, 49, 25, 17, 26, 18, 10, 2, 9, 1,
       64, 62, 60, 58, 56, 54, 52, 50, 27, 19, 28, 20, 12, 4, 11, 3,
       48, 46, 44, 42, 40, 38, 36, 34, 29, 21, 30, 22, 14, 6, 13, 5,
       47, 45, 43, 41, 39, 37, 35, 33, 31, 23, 32, 24, 16, 8, 15, 7
       ]

In [18]:
shape_wanted = data.shape
new_data = np.empty((shape_wanted[0], shape_wanted[1]))

In [20]:
for i in np.arange(shape_wanted[1]):
    new_data[:, i] = data[:, (chs_ordered[i] - 1)]
print(new_data)

[[-271. -262. -266. ... -158. -113. -181.]
 [-276. -263. -262. ... -152. -120. -193.]
 [-271. -257. -249. ... -201. -127. -220.]
 ...
 [  -6.   12.   40. ... -597. -556. -523.]
 [   1.   13.   37. ... -568. -530. -496.]
 [   3.   15.   35. ... -528. -500. -473.]]

In [22]:
new_data[0]

array([-271., -262., -266., -251., -411., -292., -273., -240., -223.,
       -111., -214., -174., -222.,  185., -189., -216., -255., -216.,
       -336., -485., -361., -319., -303., -262., -225., -113., -221.,
       -104., -219.,   -2., -224., -201., -208., -120., -321., -402.,
       -395., -183., -387., -361., -100., -222., -217., -186., -204.,
         33., -201., -223., -381., -362., -390., -409., -376., -383.,
       -401., -379., -118., -243., -174., -238., -277.,  -17., -209.,
       -202.,  -74.,  -84.,  -97.,  -75.,  -82.,  -73.,  -79.,  -85.,
        -96., -109., -105., -100., -162., -129., -110., -178.,  -51.,
        -76.,  -95.,  -84.,  -50.,  -62., -119.,  -99., -116., -133.,
       -105., -113., -177., -109., -130., -180.,  -84.,  -49., -110.,
        -91., -131., -106., -127.,  -89., -113., -120., -129.,  -98.,
       -155., -114., -113., -169.,  -94.,  -84., -113.,  -98., -120.,
        -98., -108., -106., -120., -109., -102., -102., -157., -158.,
       -113., -181.])

In [140]:
io.close()

In [24]:
one_timepoint = nwbfile_in.acquisition['ECoG'].data[:, :]

In [25]:
one_timepoint.shape

(17860806, 128)

In [28]:
17860806/nwbfile_in.acquisition['ECoG'].rate

1463.15722752

In [29]:
1463/60

24.383333333333333

In [ ]:
nwbfile_in.stimulus['recorded_mark']

In [30]:
io1 = NWBHDF5IO('/Users/macproizzy/Desktop/R56_B13/R56_B13.nwb', 'r')
nwbfile_in1 = io1.read()

In [31]:
nwbfile_in1

root pynwb.file.NWBFile at 0x140587758073216
Fields:
  acquisition: {
    Raw <class 'pynwb.ecephys.LFP'>
  }
  devices: {
    ECoG <class 'pynwb.device.Device'>,
    Poly <class 'pynwb.device.Device'>
  }
  electrode_groups: {
    ECoG <class 'pynwb.ecephys.ElectrodeGroup'>,
    Poly <class 'pynwb.ecephys.ElectrodeGroup'>
  }
  electrodes: electrodes <class 'hdmf.common.table.DynamicTable'>
  experiment_description: wn2 Stimulus Experiment
  experimenter: ['Max Dougherty']
  file_create_date: [datetime.datetime(2020, 12, 1, 12, 54, 12, 164816, tzinfo=tzoffset(None, -28800))]
  identifier: R56_B13
  institution: Lawrence Berkeley National Laboratory
  intervals: {
    trials <class 'pynwb.epoch.TimeIntervals'>
  }
  lab: Bouchard Lab
  notes: TODO
  pharmacology: TODO
  processing: {
    ECoG <class 'pynwb.base.ProcessingModule'>,
    Hilb_54bands <class 'pynwb.base.ProcessingModule'>,
    tMUA <class 'pynwb.base.ProcessingModule'>,
    tMUA_rate <class 'pynwb.base.ProcessingModule'>
  }
  session_description: foo
  session_id: R56_B13
  session_start_time: 2020-12-01 12:54:12.164813-08:00
  stimulus: {
    recorded_mark <class 'pynwb.base.TimeSeries'>,
    recorded_stim <class 'pynwb.base.TimeSeries'>
  }
  surgery: Acute Craniotomy
  timestamps_reference_time: 2020-12-01 12:54:12.164813-08:00
  trials: trials <class 'pynwb.epoch.TimeIntervals'>

In [38]:
nwbfile_in1.processing['Hilb_54bands'].data_interfaces

{'ECoG': ECoG pynwb.misc.DecompositionSeries at 0x140587755856320
 Fields:
   bands: bands <class 'hdmf.common.table.DynamicTable'>
   comments: no comments
   conversion: 1.0
   data: <HDF5 dataset "data": shape (29367, 128, 54), type "<f4">
   description: processed data
   metric: amplitude
   rate: 400.0
   resolution: 0.0
   source_timeseries: ECoG pynwb.ecephys.ElectricalSeries at 0x140587754326960
 Fields:
   comments: no comments
   conversion: 1.0
   data: <HDF5 dataset "data": shape (448099, 128), type "<f4">
   description: no description
   electrodes: electrodes <class 'hdmf.common.table.DynamicTableRegion'>
   rate: 6103.515625
   resolution: 0.0
   starting_time: 0.0
   starting_time_unit: seconds
   unit: volts

   starting_time: 0.0
   starting_time_unit: seconds
   unit: no unit}

In [32]:
nwbfile_in1.acquisition['Raw']

Raw pynwb.ecephys.LFP at 0x140587758259264
Fields:
  electrical_series: {
    ECoG <class 'pynwb.ecephys.ElectricalSeries'>,
    Poly <class 'pynwb.ecephys.ElectricalSeries'>
  }

In [34]:
nwbfile_in1.acquisition['Raw']['Poly'].data

In [ ]:
nwbfile_in1.processing['tMUA_rate'].data_interfaces['ECoG']